* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #53afff;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 500px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  background-color: tomato;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.buttons a:nth-child(2) {
  background-color: #b83b5e;
}

.buttons a:nth-child(3) {
  background-color: #222831;
}

.buttons a:nth-child(4) {
  background-color: #ffc300;
}

.buttons a:hover {
  /* transform: scale(1.2); */
  box-shadow: 0 0 30px #cddc39;
  color: #cddc39;
}
